<div class="row">
  <div class="col-12 col-sm-9">
    <div class="card card-verse">
      <div class="card-header">
        <div class="card-search-div">
          <pre class="card-search-book-span card-search-span"></pre>
          <input id="bible-book" class="card-search-book card-search" value="" maxlength="25" autocomplete="nope">
        </div>
        <div class="card-search-div">
          <span class="card-search-chapter-span card-search-span"></span>
          <input id="bible-chapter" class="card-search-chapter card-search" value="" maxlength="15">
        </div>
        <button class="btn btn-primary btn-round card-search-btn" id="card-search">
          <span class="nc-icon nc-zoom-split"></span>
        </button>
      </div>
      <div class="card-format">
        <div class="dropdown">
          <button class="btn btn-primary btn-neutral dropdown-toggle card-format-textsize" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            A<span class="card-format-smallA">A</span>
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <div class="dropdown-item">
              <span class="card-format-smallA mr-1">A</span>
              <input id="textsize-slider" type="range" min="12" max="20" value="16" class="card-format-textsize-slider"/>
              <span class="ml-1">A</span>
            </div>
          </div>
        </div>
      </div>
      <span class="card-load nc-icon nc-refresh-69" id="card-load"></span>
      <div class="card-div"></div>
      <div class="card-buttons"></div>
      <div class="card-footer">
        <div class="card-copyright">Crown Copyright in UK</div>
        <button class="btn btn-primary btn-neutral btn-round card-up" id="card-up">
          <span class="nc-icon nc-minimal-up"></span>
        </button>
      </div>
    </div>
    <button class="btn btn-primary btn-round card-prev" id="card-prev">
      <span class="nc-icon nc-minimal-left"></span>
    </button>
    <button class="btn btn-primary btn-round card-next" id="card-next">
      <span class="nc-icon nc-minimal-right"></span>
    </button>
  </div>
  <div class="col-12 col-sm-3">
    
  </div>
</div>
<script src="../js/plugins/autocomplete.min.js"></script>
<script src="../js/content/bible.js" async defer></script>