.card-verse {
  overflow-x: visible;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: calc(100vh - 63px - 70px - 20px);
  margin: 0;
  padding: 0.75rem 0.8rem;
  line-height: 1.5;
  .card-load {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 200%;
    color: #6f6f6f;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation: spin 1s linear 0s infinite normal forwards running;
    -ms-animation: spin 1s linear 0s infinite normal forwards running;
    animation: spin 1s linear 0s infinite normal forwards running;
  }
  .card-header {
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-top: 0;
    margin-bottom: 0.5rem;
    min-height: fit-content;
  }
  .card-search-div {
    position: relative;
    .card-search-span {
      position: absolute;
      top: 0;
      left: 0;
      white-space: nowrap;
      visibility: hidden;
      background: transparent;
      border: none;
      border-bottom: 1px solid $light-gray;
      text-align: left;
      margin: 0rem 0.25rem;
      font-size: $font-size-h4;
      font-weight: 400;
      padding: 0 0.75rem;
      line-height: 1.35;
    }
    .card-search {
      background: transparent;
      border: none;
      border-bottom: 1px solid $light-gray;
      border-radius: 0px;
      text-align: center;
      margin: 0rem 0.25rem;
      font-size: $font-size-h4;
      font-weight: 400;
      padding: 0 0.75rem;
      min-width: 8rem;
      width: 8rem;
      margin-right: 0.35rem;
      @include transition(0.2s, ease);
      line-height: 1.35;
      &:focus {
        outline: 0 !important;
        border-bottom-color: $dark-gray;
        @include transition(0.2s, ease);
      }
    }
    .card-search-chapter {
      min-width: 3rem;
      width: 3rem;
      margin-left: 0rem;
      margin-right: 0.25rem;
    }
  }
  .card-search-btn {
    position: relative;
    padding: 6px;
    height: 34px;
    width: 34px;
    margin: auto 0.3rem auto 0;
    overflow: hidden;
    span {
      left: 0;
      top: 0;
      font-size: 20px !important;
      line-height: 1 !important;
    }
  }
  .ripple {
    position: absolute;
    background: rgb(4, 124, 194);
    border-radius: 50%;
    width: 5px;
    height: 5px;
    /*animation: rippleEffect 0.88s 1;*/
    opacity: 0;
  }
  /*@keyframes rippleEffect {
    0% {
      transform: scale(1);
      opacity: 0.4;
    }
    100% {
      transform: scale(80);
      opacity: 0;
    }
  }*/
  .card-format {
    position: absolute;
    right: 0;
    top: 0;
    margin-bottom: 0.5rem;
    margin-right: 1.4rem;
    padding: 0;
    .card-format-textsize {
      padding-left: 0.1rem;
      padding-right: 0.1rem;
      font-size: 16px;
      background: transparent;
      &:hover {
        background: transparent;
      }
    }
    .card-format-smallA {
      font-size: 12px;
      padding-left: 2px;
    }
    .dropdown-item {
      font-size: 20px;
      padding: 10px 15px;
      display: flex;
      align-items: center;
      &:hover, &:active {
        background-color: white !important;
        color: #66615b !important;
      }
    }
    .card-format-textsize-slider {
      -webkit-appearance: none;
      appearance: none;
      height: 5px;
      border-radius: $border-radius-large;
      background-color: $light-gray;
      outline: none;
      @include transition(.2s, ease-in-out);
      &:hover {
        background-color: $medium-gray;
      }
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 15px;
        height: 15px;
        background-color: $primary-color;
        cursor: pointer;
        border: none;
        border-radius: 50%;
      }
      &::-moz-range-thumb {
        width: 15px;
        height: 15px;
        background-color: $primary-color;
        cursor: pointer;
        border: none;
        border-radius: 50%;
      }
    }
  }
  .card-div {
    font-size: 16px;
    -webkit-columns: 50% 2;
    -moz-columns: 50% 2;
    columns: 350px 2;
    -webkit-column-gap: 25px;
    -moz-column-gap: 25px;
    column-gap: 25px;
    -webkit-column-rule: 1px solid rgb(214, 214, 214);
    -moz-column-rule: 1px solid rgb(214, 214, 214);
    column-rule: 1px solid rgb(214, 214, 214);
    .card-div-unit {
      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid;
      .card-div-verse {
        font-size: 90%;
        padding: 0 0.8rem;
        color: #6f6f6f;
      }
    }
    .card-break {
      line-height: 1;
      padding: 0.1rem 0.8rem;
      margin: 0;
      color: #444444;
    }
  }
  .card-buttons {
    padding-top: 10px;
  }
  .card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: fit-content;
    position: relative;
    padding: 0.3rem 0 0.1rem;
    .card-copyright {
      margin: 0;
      margin-left: 5px;
      color: #6f6f6f;
      font-size: $font-size-medium;
    }
    .card-up {
      display: none;
      padding: 4px 0px 7px;
      font-size: 20px;
      line-height: 1px;
      height: 32px;
      margin-right: 5px;
    }
  }
  @media (min-width: 400px) {
    padding: 0.8rem 1.1rem;
  }
  @media (min-width: 768px) {
    padding: 0.8rem 1.5rem;
    .card-down {
      right: 9.8%;
    }
  }
  @media (min-width: 992px) {
    .card-down {
      right: 19.4%;
    }
  }
  @media (device-width: 768px) and (device-height: 1024px) {
    ::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
    }
    ::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    }
  }
}
.autocomplete-suggestions {
  background-color: $white-color;
  border: 0 none;
  brder-radius: $border-radius-extreme;
  margin-top: 3px;
  padding: 0px;
  cursor: default;
  overflow: auto;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
  min-width: 11rem !important;
  strong {
    font-weight: 600;
  }
  .autocomplete-suggestion{
    color: $font-color;
    font-size: $font-size-base;
    padding: 10px 45px 10px 15px;
    clear: both;
    white-space: nowrap;
    width: 100%;
    display: block;
  }
  .autocomplete-suggestion:first-child{
    border-top-left-radius: $border-radius-extreme;
    border-top-right-radius: $border-radius-extreme;
  }
  .autocomplete-suggestion:last-child{
    border-bottom-left-radius: $border-radius-extreme;
    border-bottom-right-radius: $border-radius-extreme;
  }
  .select & .dropdown-item:first-child{
    border-radius: 0;
    border-bottom: 0 none;
  }
  .autocomplete-suggestion:hover,
  .autocomplete-suggestion:focus,
  .autocomplete-selected{
    color: $white-color !important;
    opacity: 1;
    outline: 0 !important;
    background-color: $default-color;
  }
}
.card-prev,
.card-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0px;
  padding: 6px;
  font-size: 20px;
  line-height: 1;
  height: 34px;
  width: 34px;
  z-index: 1050;
  display: none;
  box-shadow: $box-shadow;
}
.card-prev {
  left: -4px;
}
.card-next {
  right: -4px;
}
/*.card-up {
  position: absolute;
  bottom: -20px;
  right: 5.8%;
  margin: 0;
  padding: 4px 6px 7px;
  font-size: 20px;
  line-height: 1px;
  height: 32px;
  width: 32px;
  z-index: 1050;
}*/